body {
    height: 97vh;
}

#top {
    background-color: #484848;
    height: 15%;
}

#main {
    background-color: #cacaca;
    height: 85%
}

#middle {
    height: 100%;
    width: 70%;
    margin: auto;
    background-color: #eee;
}

#middle-middle {
    height: 90%;
    
}


#middle-bottom {
    height: 10%;
    background-color: #222;
}

